<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>217359107676-or47k92oqoshca2rmm68dih30sqas1qn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.217359107676-or47k92oqoshca2rmm68dih30sqas1qn</string>
	<key>API_KEY</key>
	<string>AIzaSyAFenHtNUjoySjtsCI1xLEqfHbU9tqycdk</string>
	<key>GCM_SENDER_ID</key>
	<string>217359107676</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bosunKwak.chattingFinal</string>
	<key>PROJECT_ID</key>
	<string>chattingfinal-68310</string>
	<key>STORAGE_BUCKET</key>
	<string>chattingfinal-68310.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:217359107676:ios:4d069b0fa63fef0b224899</string>
</dict>
</plist>