<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>13795414357-rkas0l5f0mam7ao4ojlt85q5vlstn42k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.13795414357-rkas0l5f0mam7ao4ojlt85q5vlstn42k</string>
	<key>API_KEY</key>
	<string>AIzaSyBlptAj7rTor2UPATzW7q2i_o3OaCzFzaQ</string>
	<key>GCM_SENDER_ID</key>
	<string>13795414357</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>https---github.com-bosunKwak.chatting3</string>
	<key>PROJECT_ID</key>
	<string>chattest-4fb02</string>
	<key>STORAGE_BUCKET</key>
	<string>chattest-4fb02.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:13795414357:ios:40e635add4be0a608d5fdc</string>
</dict>
</plist>